# Backend
backend/target/
backend/.mvn/
*.class

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.local

# IDE
.idea/
*.iml
.vscode/settings.json

# Docker
postgres_data/
*.gpg~
*.gpg
.claude/
